Dataset/
img/
__pycache__/
.idea/
*.pyc
logs/
runs/
outputs/
Dataset/
img/
__pycache__/
.idea/
*.pyc
logs/
runs/
outputs/
*.tif
*.bmp
*.csv
Dataset/
img/
__pycache__/
.idea/
*.pyc
logs/
runs/
outputs/
*.tif
*.bmp
*.csv
